$color-gray: #1a1a1a;
$color-blue: #4169e1;

$width-bottom-interface: 215px;
$margin-bottom-interface: 14px;
$padding-bottom-interface: 4px;
$heigth-bottom-interface: 63px;

$width-qr-banner: 305px;
$height-qr-banner: 395px;

$size-qr-box: 190px;
$size-qr: 130px;
